
<div class="container" id="log-in-form">
    <div class="heading">
      
    </div>
   
    
    <form (ngSubmit)="busca()" autocomplete="off">

        <div class="form-group">
            <label for="country">
                Pais
              </label> 
              <input type="text" [(ngModel)]="pais" name="pais" class="form-control"  />
        </div>
        
    </form>
</div>



<div class="container">
    <h1>Univeridades</h1>
	<table>
		<thead>
			<tr>
				<th>web_pages</th>
				<th>country</th>
				<th>state_province</th>
				<th>name</th>
				<th>alpha_two_code</th>
                
			</tr>
		</thead>
		<tbody *ngFor="let date of uni">
			<tr>
                <td>{{date['web_pages']}}</td>
                <td>{{date['country']}}</td>
                <td>{{date['state_province']}}</td>
                <td>{{date['name']}}</td>
                <td>{{date['alpha_two_code']}}</td>

		
			</tr>
		</tbody>
	</table>
</div>